<ion-header>
  <ion-toolbar>
    <ion-title>
      Make order
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card class="welcome-card" style="text-align: center; align-items: center">
      <ion-img src="/assets/dentistry-icon.jpg" style="width: 250px;  text-align: center; margin: 0 auto;"></ion-img>
      <ion-card-header>
        <ion-card-subtitle>Good health is above wealth!</ion-card-subtitle>
        <ion-card-title>Welcome to our dentistry</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>Start serving your tooth health from now!</p>
      </ion-card-content>
    </ion-card>
    <ion-list lines="none">
      <ion-list-header>
        <ion-label>Resources</ion-label>
      </ion-list-header>
      <ion-item href="{{url}}">
        <ion-icon slot="start" color="medium" name="book"></ion-icon>
        <ion-label>Go to our website</ion-label>
      </ion-item>
    </ion-list>
</ion-content>
