<ion-header>
    <ion-toolbar>
        <ion-title>Запись на прием</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content padding>

    <ion-card>
        <ion-card-header>
            <ion-card-title>Записаться на прием</ion-card-title>
        </ion-card-header>

        <ion-card-content>
            <form [formGroup]="addAppointment">

                <ion-item>
                    <ion-label position="floating">Имя</ion-label>
                    <ion-input formControlName="first_name"></ion-input>
                </ion-item>
                <ion-item>
                    <ion-label position="floating">Фамилия</ion-label>
                    <ion-input formControlName="last_name"></ion-input>
                </ion-item>
                <ion-item>
                    <ion-label position="floating">Телефон</ion-label>
                    <ion-input pattern="^\+77(\d{9})$" formControlName="phone"></ion-input>
                </ion-item>
                <ion-item>
                    <ion-label position="floating">Email</ion-label>
                    <ion-input type="email" formControlName="email"></ion-input>
                </ion-item>
                <ion-item>
                    <ion-label position="floating">Сервис</ion-label>
                    <ion-select (ionChange)="change()" formControlName="service_id">
                        <ion-select-option *ngFor="let service of services" [value]="service.id">
                            {{service.name}}
                        </ion-select-option>
                    </ion-select>
                </ion-item>

                <ion-item>
                    <ion-label>Дата</ion-label>
                    <ion-datetime (ionChange)="change()" formControlName="date"
                                  display-format="YYYY-MM-DD"></ion-datetime>
                </ion-item>


                <ion-item *ngIf="success">
                    <ion-label position="floating">Обслуживающий</ion-label>
                    <ion-select formControlName="employee_id">
                        <ion-select-option *ngFor="let employee of employees" [value]="employee.id">
                            {{employee.first_name + ' ' + employee.last_name}}
                        </ion-select-option>
                    </ion-select>
                </ion-item>


                <ion-item *ngIf="success">
                    <ion-label>Время начала</ion-label>
                    <ion-datetime formControlName="start_time" display-format="HH:mm"></ion-datetime>
                </ion-item>
                <ion-item *ngIf="success">
                    <ion-label>Время конца</ion-label>
                    <ion-datetime (ionChange)="change2()" formControlName="finish_time"
                                  display-format="HH:mm"></ion-datetime>
                </ion-item>

                <ion-item>
                    <ion-label position="floating">Комментарий</ion-label>
                    <ion-textarea formControlName="comments"></ion-textarea>
                </ion-item>


                <ion-label *ngIf="success">{{price}}</ion-label>



                <ion-button [disabled]="!addAppointment.valid" (click)="add()"
                            [ngClass]="{'disabled' : !addAppointment.valid}"
                            expand="block">Записаться
                </ion-button>
            </form>
        </ion-card-content>
    </ion-card>


</ion-content>
