<ion-header>
  <ion-toolbar>
    <ion-title>Make your order</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Order form</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <ion-item>
        <ion-label position="floating">Floating Label</ion-label>
        <ion-input></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Date</ion-label>
        <ion-datetime display-format="YYYY-MM-DD HH:mm:ss"></ion-datetime>
      </ion-item>
    </ion-card-content>
  </ion-card>


</ion-content>
